// Fonts

@font-face {
    font-family: 'gogoiadeco';
    src: url('../fonts/gogoia-deco-webfont.woff2') format('woff2'),
         url('../fonts/gogoia-deco-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gogoiaregular';
    src: url('../fonts/gogoia-regular-webfont.woff2') format('woff2'),
         url('../fonts/gogoia-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}